html {
    background-color: #CFF;
    height: 100%;
}

body {
    max-width: 720px;
    min-height: 100%;
    margin: 0px auto;
    background-color: white;
}

body.wide {
    min-width: 800px;
    max-width: 1320px;
}

div#main {
    padding: 12px;
}

.qr {
    display: block;
    margin-top: 1em;
    width:200px;
}

.paint img {
    // assume pixel density is 2
    width: 405px;
    height: 205px;
    margin-left: 32px;
}

.header {
    border-bottom: 2px solid black
}

.issuer_logo {
    max-height:3em;
    float: right
}

.issuer_name {
}

.credential_list_item {
    margin-top: 1em;
}

.credential_list_logo_container {
    width: 4em;
    display: inline-block;
    text-align: end;
    vertical-align: middle;
}

.credential_list_logo {
    height: 1.5em;
}

.credential_list_name {
}

.credential_container {
}

.credential_logo {
    display: block;
    max-height: 120px;
    max-width:200px;
}

table {
    border-collapse: collapse;
    margin: 1em;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

.cred {
    margin-left: 1em;
}

.cred h4 {
    margin-bottom: 4px;
}

span.label {
    display: inline-block;
    width: 8em;
    text-align: right;
    padding-right: 4px;
}

button {
    margin-left: 1em;
}